.categories{
  display: flex;
  &__purchases{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    text-decoration: none;
  }
  &-popular{
    margin-right: 203px;
    margin-top: 60px;
  }
  &-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
  }
}
.contacts {
  margin-top: 112px;
  margin-bottom: 40px;
  text-align: center;
  &__links{
    margin-right: 20px;
  }
  &__adress{
    margin-left: 205px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
  &__footerphone{
    margin-left: 90px;
    margin-right: 40px;
  }
  &-bg{
    margin: auto;
    height: 64px;
    background-color: #E5E5E5;
  }
  &__rights{
    padding-top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }
  &-bottom{
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 1199px) {
  .categories-popular{
    margin: auto;
  }
  .hidden{
    display: none;
  }
}

@media (max-width: 991px) {
  .contacts__adress {
    margin:auto;
    margin-top: 112px;
  }
}

@media (max-width: 768px) {
  .hidden2{
    display: none;
  }
  .contacts__footerphone {
    margin:auto;
    margin-top: 110px;
  }
}

@media (max-width: 500px) {
  .contacts {
    &__links{
      margin-left: 10px;
    }
    &__footerphone{
      display: none;
    }
  }
}