main{
  background-color: #EFEFEF;
}
.section{
  margin-top: 50px;
}
.stock {
    height: 590px;
    width: 100%;
    position: relative;
  &__chair {
    width: 100%;
    height: 100%;
  }
  &__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    position: absolute;
    top: 100px;
    left: 205px;
  }
  &__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 200px;
    left: 205px;
  }
  &__button{
    border: 2px solid #fff;
    color: #fff;
    position: absolute;
    top: 271px;
    left: 205px;
  }
}
.submit{
  &__button{
    margin-top: 40px;
    width: 170px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: #000;
      border: none;
    }
    &:focus {
      color: #fff;
      background-color: #000;
      border: 2px solid #828282;
    }
  }
}
.product{
  height: 363px;
  width: 255px;
  background-color: #fff;
  margin-right: 30px;
  margin-bottom: 100px;
  &-title{
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }
  &-place{
    display: flex;
  }
  &__price{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 10px 100px;
  }
  &__img{
    height: 166px;
    width: 125px;
    margin: 15px 65px;
  }
  &__text{
    margin: 15px 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  &__button{
    background-color:#F13C6E;
    color:#fff;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    margin: 20px 62px;
  }
}
.card{
  display: flex;
  width: 540px;
  height: 212px;
  background-color: #F13C6E;
  &-section{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  &__search{
    background-color: #fff;
    border-radius: 30px;
    width: 225px;
    height: 35px;
    margin-top: 15px;
    padding-left: 15px;
  }
  &__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }
  &__button{
    border: 2px solid #fff;
    color: #fff;
    height: 35px;
    margin-top: 15px;
  }
  &__img{
    margin-top: 27px;
  }
}
.info{
  margin-left: 40px;
  margin-right: 65px;
}
.impuls{
  display: grid;
  width: 1110px;
  height: 357px;
  background-color: #fff;
  grid-template-columns: 277px 277px 277px 277px;
  grid-template-rows: 119px 119px 119px;
  &__img{
    margin-left: 60px;
    margin-top: 35px;
  }
}
@media (max-width: 1199px){
  .stock {
    height: 500px;
  }
  .product-last{
    display: none;
  }
  .impuls{
    width: 1000px;
    grid-template-columns: 250px 250px 250px 250px;
  }
  .stock {
    &__title{
      top: 100px;
      left: 100px;
    }
    &__text{
      top: 200px;
      left: 100px;
    }
    &__button{
      top: 270px;
      left: 100px;
    }
  }
}
@media (max-width: 991px){
  .stock {
    height: 400px;
  }
  .stock {
    &__title{
      top: 50px;
    }
    &__text{
      top: 150px;
    }
    &__button{
      top: 200px;
    }
  }
  .product-title{
    text-align: center;
  }
  .product-first{
    display: none;
  }
  .product{
    margin: auto;
  }
  
  .impuls{
    width: 800px;
    grid-template-columns: 200px 200px 200px 200px;
    &-img{
      margin-left: 20px;
    }
  }
.card-section{
  flex-direction: column;
  justify-content: center;
}
.card{
  margin: auto;
  margin-top: 20px;
}
}
@media (max-width: 768px){
  .card{
    width: 400px; 
  }
  .card-img{
    display: none;
  }
  .stock {
    height: 300px;
  }
  .stock {
    &__title {
      font-size: 30px;
      top: 10px;
      left: 50px;
    }
    &__text {
      top: 80px;
      left: 50px;
      font-size: 12px;
    }
    &__button {
      top: 120px;
      left: 50px;
      height: 30px;
      width: 150px;
    }
  }
.impuls {
  width: 550px;
  grid-template-columns: 190px 190px 190px;
  &-img {
    margin-left: 20px;
  }
}
.hidden-first{
  display: none;
}
}
@media (max-width: 500px){
  .stock {
    &__title{
      margin: auto;
      left: 10px;
    }
    &__text{
      margin: auto;
      left: 10px;
    }
    &__button{
      left: 10px;
    }
  }
  .stock {
    height: 250px;
  }
  .product{
    margin-bottom: 20px;
    &-second{
      display: none;
    }
    &-title{
      margin: 10px auto;
    }
  }
  .impuls {
    width: 400px;
    height: 250px;
    grid-template-columns: 190px 190px;
    &-img {
      margin-left: 15px;
    }
  }
  .hidden-second{
    display: none;
  }
}